ul {
  padding-left: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3%;
}

.card {
  font-family: "PizelifySans-VariableFont_wght";
  font-size: 20px;
  font-weight: bold;
  padding: 0.5em;
  border: 5px double #b91c1c;
  border-radius: 5px;
  background-color: #eff6ff;
  color: #7f1d1d;
}

.card:hover {
  border: 5px double #172554;
  transition-duration: 0.4s;
}
